@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Raleway", sans-serif;
  font-style: normal;
}
img{
  width: 100%;
  object-fit: cover;
}
a{
  text-decoration: none;
}
input{
  outline: none;
  border: none;
  text-decoration: none;
}
h2{
  font-weight: 300;
  font-size: 32px;
  line-height: 38px;
}
.text{
  font-size: 22px;
  line-height: 26px;
  color: #262626;
}
.text-small{
  font-size: 16px;
  line-height: 19px;
  color: #262626;
}